# --- .NET Ignore Rules ---
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.sln.docstates

# --- Node / Angular Ignore Rules ---
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/.angular/cache/
.sass-cache/
/coverage
testem.log

# --- IDEs and editors ---
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates

# --- System Files ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Secrets / Local Configurations ---
**/appsettings.Development.json

